<html>
  <head>
    <link rel="icon" href="/img/weatherLogo.png">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site uses weatherstack API and mapbox API to fetch weather info of a place</p>
      <img class="portrait" src="/img/about.jpg" alt="" />
    </div>
    
    {{>footer}}
  </body>
</html>